@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&family=Martel+Sans&family=Open+Sans&family=Satisfy&display=swap");
/**/
@keyframes thing {
  0% {
    transform: rotate(-5deg);
  }
  2% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes dispear-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**/
footer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  background: #339966;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  font-size: 20px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}
footer a {
  margin: 0 15px;
  color: #e6b800;
  text-decoration: none;
}
footer a:hover {
  animation: thing 3s;
}

html {
  height: 100%;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Martel Sans", sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

h1 {
  text-align: center;
}

.item p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item header {
  position: relative;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item header .line {
  width: 25%;
  height: 3px;
  border-radius: 10px;
}
.item header h2 {
  display: inline;
  position: relative;
  text-align: center;
}
.item header h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s ease-in-out;
  transform-origin: 0 0;
}
.item header h2:hover::before {
  transform: scaleX(1);
}

.card {
  text-align: center;
  width: 75%;
  margin: 0 auto 50px auto;
  padding: 10px 50px;
  box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 150px) and (max-width: 500px) {
  .card {
    width: 90%;
    padding: 15px;
    font-size: 14px;
    text-align: start;
  }
  .card strong {
    margin: auto 0;
    font-size: 14px;
    margin-left: 10px;
  }
}

.logo {
  width: 100%;
  text-align: center;
  background: #339966;
  color: #e6b800;
  font-size: 40px;
  padding: 5px;
  font-weight: bold;
  margin-top: 0px;
}

/**/
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
}
@media screen and (min-width: 150px) and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 860px) {
  .container {
    flex-direction: column;
  }
}

.menu {
  width: 20%;
  height: 250px;
  margin: 0px 15px;
  display: flex;
  font-size: 20px;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 0.5s;
}
@media screen and (min-width: 150px) and (max-width: 500px) {
  .menu {
    width: 85% !important;
    margin: 15px auto !important;
  }
}
@media screen and (max-width: 860px) {
  .menu {
    width: 40%;
    margin: 15px auto;
  }
}
.menu:hover {
  font-size: 25px;
  opacity: 0.7;
}
.menu div {
  margin: auto;
  text-align: center;
}
.menu div h2 {
  margin: 5px 0;
}

/*Item1*/
.menu__item1 {
  background: #ffcccc;
  color: #331a00;
}
.menu__item1 div p {
  font-weight: bold;
  font-family: "Satisfy", cursive;
}
.menu__item1 div h2 {
  font-family: "Kalam", cursive;
}

/*Item2*/
.menu__item2 {
  background: #ffe6ff;
}
.menu__item2 div h2 h2 {
  color: #e68a00;
}

/*Item3*/
.menu__item3 {
  background: rgba(242, 242, 242, 0.5);
}
.menu__item3 div h2 {
  color: #00e6b8;
  font-family: "Kalam", cursive;
}

/*Item4*/
.menu__item4 div h2 {
  color: #2db300;
  font-family: "Kalam", cursive;
}

/*gradient*/
.gradient_2 {
  background: linear-gradient(0.25turn, #e68a00, #993366);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient_3 {
  background: linear-gradient(0.25turn, #0000ff, #3399ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient_4 {
  background: linear-gradient(0.25turn, #2db300, #99ff66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Prochainement*/
.modifie-heading__h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.modifie-heading__h3 h3 {
  text-align: center;
  font-size: 25px;
  background: #339966;
  color: #e6b800;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  padding: 10px;
}
.modifie-heading__h3 h3 strong i {
  font-size: 30px;
}
.modifie-heading__h3 h3 strong i:nth-child(1) {
  animation: dispear-appear 2s infinite 0.5s;
}
.modifie-heading__h3 h3 strong i:nth-child(2) {
  animation: dispear-appear 2s infinite 1s;
}
.modifie-heading__h3 h3 strong i:nth-child(3) {
  animation: dispear-appear 2s infinite 1.5s;
}

#menu1 {
  background: #ffcccc;
  color: #331a00;
}
#menu1 h2 {
  font-size: 30px;
  margin: 0 auto;
  font-family: "Satisfy", cursive;
  text-align: center;
}
#menu1 h2:first-child {
  display: flex;
  flex-direction: column;
}
#menu1 h2:first-child i {
  font-size: 50px;
}
#menu1 h2 i {
  margin-right: 10px;
}
#menu1 .item {
  font-family: "Kalam", cursive;
}
#menu1 .item header {
  text-align: center;
}
#menu1 .item header h2::before {
  background-color: #331a00;
}
#menu1 .item header hr {
  background-color: #331a00;
  border: none;
}

.bottom-logo {
  font-size: 30px;
  margin: 0 auto;
  font-family: "Satisfy", cursive;
}

.item__entree {
  color: #cc9900;
}
.item__entree header .line {
  background-color: #cc9900;
}
.item__entree header h2::before {
  background-color: #cc9900;
}
.item__milieu {
  color: #993366;
}
.item__milieu header .line {
  background-color: #993366;
}
.item__milieu header h2::before {
  background-color: #993366;
}
.item__desert {
  color: #002db3;
}
.item__desert header .line {
  background-color: #002db3;
}
.item__desert header h2::before {
  background-color: #002db3;
}

#menu3 {
  font-family: "Dancing Script", cursive;
  background: rgba(242, 242, 242, 0.5);
}
#menu3 .item {
  font-family: "Kalam", cursive;
}
#menu3 .item header .line {
  background-color: #0000ff;
}
#menu3 .item header h2::before {
  background-color: #0000ff;
}

#menu4 {
  font-family: "Kalam", cursive;
}
#menu4 .item {
  font-family: "Kalam", cursive;
}
#menu4 .item header .line {
  background-color: #99ff66;
}
#menu4 .item header h2::before {
  background-color: #99ff66;
}

/*# sourceMappingURL=index.css.map */
