@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&family=Martel+Sans&family=Open+Sans&family=Satisfy&display=swap');
$primary-font: 'Martel Sans',
sans-serif;
$secondary-font: 'Kalam',
cursive;
$third-font: 'Satisfy',
cursive;
$open-sans-font: 'Open Sans',
sans-serif;
$dancin-font: 'Dancing Script',
cursive;