$primary-color: #339966;
$secondary-color: #e6b800;

$black: #000 ; 
$white: #fff ;

$first-item-color-primary: #ffcccc;
$first-item-color-secondary: #331a00;

$second-item-color-primary: #ffe6ff;
$second-item-color-secondary: #e68a00;

$third-item-color-primary: rgba(242, 242, 242 , 0.5);
$third-item-color-secondary: #00e6b8;

$fourth-item-color-primary: #2db300;

$fourth-menu-color-secondary: #00ff00 ;


$second-menu-color-primary:#cc9900 ;
$second-menu-color-secondary:#993366 ;
$second-menu-color-third:#002db3 ;

$third-menu-color-primary:#0000ff ;
$third-menu-color-secondary:#0066ff ;
$third-menu-color-third:#3399ff ;

$box-shadow: 0px 0px 18px -10px rgba(0,0,0,0.75); 
